$containerWidth: 940px;
$baseFontSize: 18px;
// colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;
//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "./components/layout.scss";
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/menu.scss";
@import "./components/phone-number.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/section.scss";
@import "./components/benefits-section.scss";