.menu__link {
    text-decoration: none;
    white-space: normal;
}
.menu {
    @include tablets {
        display: none;
    }
    margin: 0 30px;
}
.menu__list {
    display: flex;
    -webkit-box-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__item {
    margin-right: 1.5rem;
    margin-bottom: 10px;
}